<!-- Insert page -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>

        <h1>Covid-19 Data Log</h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <div>
                <label for="State_Name">State Name</label>
                <input type="text" placeholder="State Name" name="state">
            </div>
            <div>
                <label for="Date (yyyy-mm-dd)">Date</label>
                <input type="text" placeholder="Date (yyyy-mm-dd)" name="date">   
            </div>
            </br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html> 